@import "block/menu.css";
@import "block/header.css";
@import "block/footer.css";

.section {
    margin-bottom: 75px;
}

.section__header {
    text-indent: 5vw;
    margin-bottom: 0.5em;
}

.section__hr {
    margin-top: 0.5em;
}

#section__hr-house {
    border-top: 5px solid rgb(242, 185, 29)
}

#section__hr-food {
    border-top: 5px solid rgb(188, 9, 57)
}

#section__hr-travel {
    border-top: 5px solid rgb(57, 103, 229)
}

#section__hr-movie {
    border-top: 5px solid rgb(125, 41, 155)
}

#section__hr-music {
    border-top: 5px solid rgb(1, 170, 125)
}

.section__articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.article {
    display: grid;
    grid-template-columns: 1fr;
    height: 300px;
    background-image: url("../../img/landscape.jpg");
    background-position: center center;
    background-size: cover;
}

.article__header {
    align-self: start;
    color: #FFFFF8;
    margin: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.65);
}

.article__lead {
    align-self: end;
    color: #FFFFF8;
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 15px;
}

.article-house {
    border: 3px solid rgb(242, 185, 29);
}

.article-food {
    border: 3px solid rgb(188, 9, 57);
}

.article-travel {
    border: 3px solid rgb(57, 103, 229);
}

.article-movie {
    border: 3px solid rgb(125, 41, 155);
}

.article-music {
    border: 3px solid rgb(1, 170, 125);
}