@import "block/menu.css";
@import "block/header.css";
@import "block/footer.css";

#container {
    display: grid;
    grid-template:
        "post post post post author author"
        "sharing sharing sharing sharing author author"
        "footer footer footer footer footer footer"
        / 1fr 1fr 1fr 1fr 1fr 1fr
    ;
    gap: 100px;
}

#footer {
    grid-area: footer;
}

#post {
    grid-area: post;
}

#post__header {
    text-indent: 20px;
    margin: 0;
}

#post__social-sharing {
    grid-area: sharing;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post__image-figure {
    margin: 50px auto;
    width: 35vw;
    min-width: 375px;
}

.post__image {
    width: 35vw;
    min-width: 375px;
}

#post__hr-house {
    border-top: 5px solid rgb(242, 185, 29)
}

#author {
    grid-area: author;
    background-color: rgb(242, 185, 29);
    padding: 15px;
}

#author__header {
    text-indent: 20px;
}

#author__image {
    display: block;
    margin: auto;
    width: 75%;
    padding-right: 20px;
    padding-bottom: 20px;

}