.menu {
    flex-grow: 1;
}

.menu__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu__item {
    list-style: none;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
}

.menu__link {
    color: dimgrey;
    display: block;
    border-bottom: 5px solid;
}

.menu__link:hover {
    color: black;
}

.menu__home-link {
    border-bottom-color: black;
}

.menu__house-link {
    border-bottom-color: rgb(242, 185, 29);
}

.menu__food-link {
    border-bottom-color: rgb(188, 9, 57);
}

.menu__travel-link {
    border-bottom-color: rgb(57, 103, 229);
}

.menu__movie-link {
    border-bottom-color: rgb(125, 41, 155);
}

.menu__music-link {
    border-bottom-color: rgb(1, 170, 125);
}