@import "block/header.css";
@import "block/menu.css";

#container {
    display: grid;
    grid-template:
        "author"
        "post "
        "sharing"
        "footer"
        / 1fr
    ;
    gap: 25px;
}

#author {
    margin-top: 25px;
}

#author__image {
    float: left;
    width: 10vw;
    min-width: 100px;
}
